{{#unless data}}
<p class="text-dark fs-4">There is nothing in List...</p>
{{else}}
    <table class="row mx-auto">
    {{#each data}}
        <tr class="border-bottom border-3 py-2 row">
            <td class="col-1 p-0">{{this.count}}</td>
            <td class="p-0 col-9">
                <p id="line-through" class="m-0">{{this.do}}</p>
            </td>
            <td class="d-flex justify-content-between align-items-center col-2 p-0">
                <div class="position-relative px-4"><input id="check" type="checkbox" class="check position-absolute place"></div>
                <a href="/edit/{{this._id}}" class="ps-3">
                    <i class="fa-regular fa-pen-to-square text-warning"></i>
                </a>
                <a href="/del/{{this._id}}" class="ps-3 text-end">
                    <i class="fa-solid fa-trash-can text-danger "></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </table>
{{/unless}}